Repository loonghao/webhook_bridge: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

# Codecov configuration for webhook-bridge
# Primary focus: Go coverage with Python as secondary

coverage:
  # Coverage precision and rounding
  precision: 2
  round: down
  range: "70...100"

  # Status checks configuration
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        base: auto
        flags:
          - go
      go:
        target: 80%
        threshold: 1%
        paths:
          - "cmd/"
          - "internal/"
          - "pkg/"
        flags:
          - go
      python:
        target: 70%
        threshold: 3%
        paths:
          - "python_executor/"
          - "webhook_bridge/"
        flags:
          - python
    patch:
      default:
        target: 70%
        threshold: 5%
      go:
        target: 75%
        paths:
          - "cmd/"
          - "internal/"
          - "pkg/"
        flags:
          - go

# GitHub integration
github_checks:
  annotations: true

# Comment configuration
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Files and paths to ignore
ignore:
  # Build and generated files
  - "build/"
  - "dist/"
  - "*.pb.go"
  - "*_grpc.pb.go"
  - "*_pb2.py"
  - "*_pb2_grpc.py"

  # Development and tooling files
  - "noxfile.py"
  - "make.bat"
  - "Makefile"
  - "scripts/"
  - "example_plugins/"
  - "temp_test/"

  # Configuration files
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - "*.json"
  - "Dockerfile"
  - "docker-compose.yml"

  # Documentation
  - "*.md"
  - "docs/"

# Flag configuration for different components
flags:
  go:
    paths:
      - cmd/
      - internal/
      - pkg/
    carryforward: true
  python:
    paths:
      - python_executor/
      - webhook_bridge/
    carryforward: true

fix: modernize golangci-lint configuration for CI compatibility
  .golangci.yml
Due: none

fix: optimize Python lint configuration for CI compatibility
  .pre-commit-config.yaml
  nox_actions/lint.py
  pyproject.toml
  python_executor/main.py
  python_executor/server.py
  python_executor/utils.py
  test_go_python_integration.py
  test_grpc_integration.py
  test_http_server.py
  test_python_executor.py
  test_python_manager.py
  webhook_bridge/__init__.py
  webhook_bridge/cli.py
  webhook_bridge/manager.py
Due: python

fix: replace deprecated gosec GitHub Action with direct installation
  .github/workflows/main-ci.yml
  .golangci.yml
  cmd/server/main.go
  cmd/webhook-bridge/main.go
  dev.go
  gosec.sarif
  internal/cli/serve.go
  internal/cli/service.go
  internal/cli/start.go
  internal/config/config.go
  internal/config/directories.go
  internal/config/manager.go
  internal/grpc/client.go
  internal/logging/manager.go
  internal/python/detector.go
  internal/python/manager.go
  internal/server/performance.go
  internal/server/server.go
  internal/service/service.go
  internal/utils/ports.go
  internal/utils/ports_test.go
  internal/web/dashboard.go
  internal/web/logs.go
  internal/web/modern/dashboard.go
  internal/web/stats.go
  internal/worker/handlers.go
  internal/worker/pool.go
  nox_actions/codetest.py
  tests/test_api.py
  tests/test_cli.py
  tests/test_paths.py
Due: go

fix: resolve CI PowerShell compatibility issues
  .github/workflows/main-ci.yml
Due: none

fix: resolve port range conflicts in CI environment
  internal/utils/ports_test.go
Due: go

fix: resolve security vulnerabilities identified by gosec
  cmd/server/main.go
  internal/cli/build.go
  internal/cli/commands.go
  internal/cli/serve.go
  internal/cli/start.go
  internal/config/directories.go
  internal/config/manager.go
  internal/logging/manager.go
  internal/server/server.go
  tools/dev/main.go
Due: go

fix: add path validation to prevent directory traversal attacks (G304)
  internal/cli/start.go
  internal/config/config.go
Due: go

fix: resolve golangci-lint errcheck issues
  internal/cli/start.go
  internal/config/config.go
Due: go

fix: resolve dashboard, logging, and Python executor issues
  cmd/server/main.go
  internal/web/modern/dashboard.go
  python_executor/requirements.txt
  scripts/setup_python_env.py
  webhook_bridge/filesystem.py
  webhook_bridge/plugin.py
Due: go, python

fix: unify version to 2.0.0 across Go and Python packages
  pkg/version/version.go
Due: go

feat: configure commitizen to auto-update Go version files
  pyproject.toml
Due: none

feat: add webhook-bridge main CLI to build pipeline
  .github/workflows/main-ci.yml
  .goreleaser.yml
  internal/web/modern/dashboard.go
  scripts/setup_python_env.py
  tools/dev/main.go
  webhook_bridge/filesystem.py
  webhook_bridge/plugin.py
Due: go, python

fix: resolve Python lint issues and code style violations
  .github/workflows/docs.yml
  webhook_bridge/filesystem.py
  webhook_bridge/plugin.py
Due: python

fix: resolve CI build issues for dashboard and documentation
  .gitignore
  docs/README.md
  mkdocs.yml
  web/.eslintrc.json
Due: none

fix: remove problematic PR preview job from docs workflow
  .github/workflows/docs.yml
Due: none

fix: resolve Go lint issues in development tools
  tools/dev/main.go
Due: none

feat: add comprehensive code quality check scripts
  scripts/check-all.bat
  scripts/check-all.sh
Due: none

fix: add missing build:prod script for dashboard production builds
  web/package.json
Due: none

fix: complete code quality check system and dashboard build issues
  scripts/check-all.bat
  web/vite.config.ts
Due: none
