Repository loonghao/webhook_bridge: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

# Codecov configuration for webhook-bridge
# Primary focus: Go coverage with Python as secondary

coverage:
  # Coverage precision and rounding
  precision: 2
  round: down
  range: "70...100"

  # Status checks configuration
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        base: auto
        flags:
          - go
      go:
        target: 80%
        threshold: 1%
        paths:
          - "cmd/"
          - "internal/"
          - "pkg/"
        flags:
          - go
      python:
        target: 70%
        threshold: 3%
        paths:
          - "python_executor/"
          - "webhook_bridge/"
        flags:
          - python
    patch:
      default:
        target: 70%
        threshold: 5%
      go:
        target: 75%
        paths:
          - "cmd/"
          - "internal/"
          - "pkg/"
        flags:
          - go

# GitHub integration
github_checks:
  annotations: true

# Comment configuration
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Files and paths to ignore
ignore:
  # Build and generated files
  - "build/"
  - "dist/"
  - "*.pb.go"
  - "*_grpc.pb.go"
  - "*_pb2.py"
  - "*_pb2_grpc.py"

  # Development and tooling files
  - "noxfile.py"
  - "make.bat"
  - "Makefile"
  - "scripts/"
  - "example_plugins/"
  - "temp_test/"

  # Configuration files
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - "*.json"
  - "Dockerfile"
  - "docker-compose.yml"

  # Documentation
  - "*.md"
  - "docs/"

# Flag configuration for different components
flags:
  go:
    paths:
      - cmd/
      - internal/
      - pkg/
    carryforward: true
  python:
    paths:
      - python_executor/
      - webhook_bridge/
    carryforward: true

feat: add local build/test commands and fix Python CLI packaging
  .gitignore
  .goreleaser.yml
  README_CLI.md
  RELEASE_CHECKLIST.md
  SOLUTION_SUMMARY.md
  nox_actions/web.py
  noxfile.py
  tools/dev/main.go
  webhook_bridge-modern-plugins-PRD.md
  webhook_bridge/manager.py
Due: python

feat: add one-command development workflow with quick and dev modes
  TEST_SUMMARY.md
  config.quick.yaml
  config.test.yaml
  docs/LOCAL_DEVELOPMENT.md
  nox_actions/web.py
  noxfile.py
  webhook-bridge-config.yaml
Due: none

fix: resolve nox quick/dev command startup issues
  .gitignore
  config-example.yaml
  config.dev.yaml
  config.prod.yaml
  config.quick.yaml
  config.test.yaml
  data/plugin_stats.json
  data/plugin_stats_backup.json
  docs/CLEANUP_GUIDE.md
  gosec.sarif
  nox_actions/web.py
  noxfile.py
  package-lock.json
  scripts/clean-dev.ps1
  scripts/clean-dev.sh
Due: none

fix: correct nox dev/quick configuration and port settings
  nox_actions/web.py
Due: none

fix: resolve Tailwind CSS v4 compatibility issues in web dashboard
  nox_actions/web.py
  web/assets.go
  web/src/components/Header.tsx
  web/src/components/Sidebar.tsx
  web/src/index.css
Due: none

fix: resolve container test failures by fixing Python protobuf imports
  .github/workflows/main-ci.yml
  api/__init__.py
  api/proto/__init__.py
  tools/dev/main.go
  web-nextjs/build-and-fix.js
Due: none

docs: add container test fix summary documentation
  CONTAINER_TEST_FIX.md
Due: none

feat: add comprehensive stagewise debugging support for AI-assisted web debugging
  web-nextjs/STAGEWISE_GUIDE.md
  web-nextjs/app/debug/page.tsx
  web-nextjs/app/debug/stagewise/page.tsx
  web-nextjs/app/layout.tsx
  web-nextjs/components/StagewiseDebugger.tsx
  web-nextjs/components/StagewiseProvider.tsx
  web-nextjs/components/ui/scroll-area.tsx
  web-nextjs/hooks/useStagewise.ts
  web-nextjs/package.json
  web-nextjs/types/stagewise.ts
Due: none

docs: add stagewise implementation summary
  STAGEWISE_IMPLEMENTATION_SUMMARY.md
Due: none

feat: update Docker configuration for unified CLI architecture
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  docs/DOCKER_GUIDE.md
Due: none

fix(ci): add load: true to Docker build action for artifact verification
  .github/workflows/main-ci.yml
  .github/workflows/pr-release-test.yml
  config.example.yaml
  internal/cli/commands.go
  internal/config/config.go
  internal/server/server.go
  internal/storage/sqlite/sqlite.go
  web-nextjs/public/.gitkeep
Due: go

security: fix file and directory permissions
  internal/web/persistent_logs.go
  internal/web/plugin_stats_storage.go
  tools/dev/main.go
Due: go

security: fix all gosec warnings and vulnerabilities
  examples/enhanced_execution_demo/main.go
  examples/plugin_management_api_example/main.go
  examples/plugin_stats_persistence_example/main.go
  internal/cli/commands.go
  internal/cli/start.go
  internal/web/modern/dashboard.go
  internal/web/plugin_stats_storage.go
  tools/dev/main.go
Due: go

security: fix remaining gosec warnings and format code
  api/__init__.py
  api/proto/__init__.py
  examples/plugin_management_api_example/main.go
  internal/cli/start.go
  internal/web/plugin_stats_storage.go
  tools/dev/main.go
Due: go

fix: resolve macOS test failures in plugin stats persistence
  internal/config/config_test.go
  internal/web/plugin_stats_storage.go
Due: go

fix: resolve poetry lock and PyPI publish issues
  .github/workflows/python-publish.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  test_python_build.py
Due: none

chore: remove test file
  test_python_build.py
Due: none

fix: resolve GoReleaser 404 errors and update dependencies
  .goreleaser.yml
  go.mod
  go.sum
  web-nextjs/package.json
Due: none

fix: resolve macOS file system race condition in plugin stats storage
  internal/web/plugin_stats_storage.go
  internal/web/plugin_stats_test.go
Due: go

feat: make coverage tests informational only, not blocking
  codecov.yml
  tools/dev/main.go
Due: none

docs: add AGENTS.md agent contract
  AGENTS.md
Due: none

chore: add AGENTS.md as the single agent contract file
  AGENTS.md
Due: none
